{{ define "main" }}
  {{ $projects := where .Site.RegularPages "Section" "projects" }}

  <div class="project-list-page">
    <div class="container">
    {{ range $projects }}
      {{ $mainImage := .Resources.Get .Params.MainImage }}

      <div class="project-tile">
        <a class="project-tile__link" href="{{ .Permalink }}">
          <div class="product-image-wrapper">
            <img
              src="{{ ($mainImage.Fill "300x300 Center webp").RelPermalink }}"
              alt="{{ .Title }}"
            >
          </div>

          {{ .Title }}
        </a>
      </div>
    {{ end }}
    </div>
  </div>
{{ end }}

{{ define "page-styles" }}
  <style>
    .project-list-page .container {
      display: flex;
      flex-wrap: wrap;
    }

    .project-tile {
      width: 50%;
    }

    .project-tile__link {
      color: var(--body-text-color);
    }
  </style>
{{ end }}