<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<meta name="description" content="Christopher Ferris is an artist that lives and works in Seattle, WA. In his work he explores atmosphere, shape, environments, and light.">
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>

<!-- google fonts -->
<!--
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Azeret+Mono&family=Crimson+Pro:ital@0;1&display=block" rel="stylesheet" /> 
-->

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Azeret+Mono&family=Crimson+Pro:ital@0;1&display=block" rel="stylesheet">

{{ partialCached "head/css.html" . }}

