{{ define "extra-head" }}
  <meta property="og:Title" content="{{ .Title }} by Christopher Ferris" />
  <meta property="og:description" content="Christopher Ferris is an artist & illustrator from the PNW. Born in the UK and living in the United States since his teenage years, his work explores nostalgia, atmosphere, environments, and creating a strong sense of place." />
  <meta property="og:type" content="website" />
  {{ $mainImage := .Resources.Get .Params.MainImage }}
  {{ with $mainImage }}
    <meta property="og:image" content="{{ ($mainImage.Resize "x1200 webp").Permalink }}"/>
  {{ end }}
{{ end }}

{{ define "main" }}
  <div class="container">
    <div class="artwork-page__headline">
      <h1>{{ .Title }}</h1>
      <p class="artwork-page__meta">
        {{ if .Params.WorkType }}{{ .Params.WorkType }}{{ else }}Image{{ end }}, {{ .Params.Year }}
      </p>
    </div>

    <!-- <p class="back-link"><a href="/"><span>←</span>back</a></p> -->
  </div>
    
  {{ $renderMainImage := true }}
  {{ if eq .Params.RenderMainImage false }}
    {{ $renderMainImage = false }}
  {{ end }}

  {{ $hasContentBlocks := false }}
  {{ if .Page.Params.ContentBlocks }}
    {{ $hasContentBlocks = true }}
  {{ end }}

  {{ if eq $renderMainImage true }}
    {{ $mainImage := .Resources.Get .Params.MainImage }}
    {{ with $mainImage }}
      <div class="container">
        <div class="artwork-page__main-image-wrapper {{ if not $hasContentBlocks }}artwork-page__main-image-wrapper--no-content-blocks{{ end }}">
          <img
            class="artwork-page__main-image fade-in-on-load"
            alt="'{{ .Title }}' by Christopher Ferris"
            src="{{ ($mainImage.Resize "x1200 webp").RelPermalink }}"
            srcset="{{ ($mainImage.Resize "x2400 webp").RelPermalink }} 2x"
          />
        </div>
      </div>
    {{ end }}
  {{ end }}

  {{ .Content }}

  {{ if .Page.Params.ContentBlocks }}
    {{ $blockCount := len .Page.Params.ContentBlocks }}
    {{ $finalBlockIdx := sub $blockCount 1 }}
    {{ $blockIdx := 0 }}

    {{ range .Page.Params.ContentBlocks }}
      {{ $isLastBlock := eq $blockIdx $finalBlockIdx }}
      {{ $blockIdx = add $blockIdx 1 }}
      <div class="container">
        <div class="content-block content-block--type-{{ .blockType }} {{ if $isLastBlock }}content-block--is-last{{ end }}">
          {{ if eq .blockType "ImageRow" }}
            <div class="flex-row">
              {{/* Image size in pixels */}}
              {{ $fullWidth := 1200 }}
              {{ $imageWidth := div $fullWidth (.images | len)}}
              {{/* e.g 600x */}}
              {{ $regularSize := printf "%dx webp" $imageWidth }}
              {{ $retinaSize := printf "%dx webp" (mul $imageWidth 2) }}

              {{/* Column width in percentage */}}
              {{ $columnWidth := div 100 (len .images) }}

              {{ range .images }}
                {{ $image := $.Resources.Get .src }}
                {{ $imageDef := . }}

                {{ $alt := "" }}
                {{ if .alt }}
                  {{ $alt = .alt }}
                {{ else if .useCloseupAlt }}
                  {{ $alt = printf "A closeup detail of '%s'" $.Title }}
                {{ else if .useWIPAlt }}
                  {{ $alt = printf "A WIP rendering of '%s'" $.Title }}
                {{ else }}
                  {{ $alt = printf "An alternate rendering of '%s'" $.Title }}
                {{ end }}

                {{ with $image }}
                  <div
                    class="content-block__column content-block__column--{{ $columnWidth }}
                    {{ if $imageDef.mobileColumnWidth }}content-block__column--mobile-column-width-{{ $imageDef.mobileColumnWidth }}{{ end }}">

                    <img
                      class="fade-in-on-load"
                      src="{{ ($image.Resize $regularSize).RelPermalink }}"
                      alt="{{ $alt }}"
                      srcset="{{ ($image.Resize $retinaSize).RelPermalink }} 2x"
                    />
                  </div>
                {{ end }}
              {{ end }}
            </div>
          {{ else if eq .blockType "Video" }}
            {{ $video := $.Resources.Get .src }}
            {{ $poster := .poster }}
            {{ with $video  }}
              <div class="video-wrapper">
                <video
                  src="{{ $video }}"
                  poster="{{ $poster }}"
                  controls
                />
              </div>
            {{ end }}
          {{ else if eq .blockType "CaptionText" }}
            <div>caption</div>
          {{ end }}
        </div>
      </div>
    {{ end }}
  {{ end }}

  <div class="container">
    <div class="bottom-back-link">
      <p class="back-link"><a href="/"><span>←</span>back</a></p>
    </div>
  </div>
{{ end }}

{{ define "page-styles" }}
<style>
  .artwork-page__headline {
    margin-top: 5rem;
    margin-bottom: 6rem;
  }

  .artwork-page__headline h1 {
    margin-bottom: 0.6rem;
  }

  .artwork-page__meta {
    margin: 0 0 0 0.1rem;
    font-style: italic;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.5);
    font-family: var(--label-font-family);
  }

  .artwork-page__headline span {
    color: rgba(255, 255, 255, 0.5);
  }

  .back-link {
    margin-bottom: 0;
    font-size: 14px;
    font-family: var(--label-font-family);
  }

  .back-link a { 
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
  }

  .back-link span {
    display: inline-block;
    margin-right: 5px;
    transition: all 0.2s;
  }

  .back-link a:hover span {
    transform: translateX(-5px)
  }
 
  .artwork-page__main-image-wrapper {
    display: flex;
    justify-content: center;
  }

  .artwork-page__main-image {
    display: block;
    margin-bottom: 1rem;
  }

  .artwork-page__main-image-wrapper.artwork-page__main-image-wrapper--no-content-blocks .artwork-page__main-image {
    margin-bottom: 0;
  }
  
  .content-block--type-ImageRow {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
  }

  .content-block img {
    display: block;
    max-height: 100%;
  }

  .content-block--type-Video {
    margin-bottom: 1rem;
  }

  .content-block video {
    max-width: 100%;
  }

  .video-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    /* NOTE! only square videos supported rn */
    position: relative;
    padding-bottom: 100%;
  }

  .video-wrapper video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .content-block .flex-row {
    flex-wrap: nowrap;
  }

  .content-block__column {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-bottom: 1rem;
    flex: 1;
  }

  .content-block.content-block--type-ImageRow.content-block--is-last {
    margin-bottom: -1rem;
  }

  .bottom-back-link {
    margin-top: 3rem;
  }

  @media (max-width: 600px) {
    .artwork-page__headline {
      margin-top: 2rem;
      margin-bottom: 3rem;
    }

    .artwork-page__meta {
      margin-left: 0;
    }

    .content-block .flex-row {
      flex-wrap: wrap;
    }

    .content-block__column.content-block__column--25 { max-width: 50%; }

    .content-block__column.content-block__column--mobile-column-width-100 { max-width: 100%; }
    .content-block__column.content-block__column--mobile-column-width-50 { max-width: 50%; }
    .content-block__column.content-block__column--mobile-column-width-33 { max-width: 33%; }
    .content-block__column.content-block__column--mobile-column-width-25 { max-width: 25%; }
    .content-block__column.content-block__column--mobile-column-width-20 { max-width: 20%; }
  }
</style>
{{ end }}