{{ define "main" }}
  <div class="container">
    <div class="artwork-page__headline">
      <h1>{{ .Title }}</h1>
      <p class="artwork-page__meta">{{ .Params.Year }}</p>
    </div>

    <!-- <p class="back-link"><a href="/"><span>←</span>back</a></p> -->
  </div>
    

  {{ $mainImage := .Resources.Get .Params.MainImage }}
  {{ with $mainImage }}
  <div class="container">
    <div class="artwork-page__main-image-wrapper">
      <img
        class="artwork-page__main-image fade-in-on-load is-hidden"
        alt="'{{ .Title }}' by Christopher Ferris"
        src="{{ ($mainImage.Resize "x1200").RelPermalink }}"
        srcset="{{ ($mainImage.Resize "x2400").RelPermalink }} 2x"
        loading="eager"
      />
    </div>
  </div>
  {{ end }}

  {{ .Content }}

  {{ range .Page.Params.ContentBlocks }}
    <div class="container">
      <div class="content-block content-block--type-{{ .blockType }}">
        {{ if eq .blockType "ImageRow" }}
          <div class="flex-row">
            {{/* Image size in pixels */}}
            {{ $fullWidth := 1200 }}
            {{ $imageWidth := div $fullWidth (.images | len)}}
            {{/* e.g 600x */}}
            {{ $regularSize := printf "%dx" $imageWidth }}
            {{ $retinaSize := printf "%dx" (mul $imageWidth 2) }}
            {{/* Column width in percentage */}}
            {{ $columnWidth := div 100 (len .images) }}
            {{ $alignVertically := .alignVertically }}
            
            {{ range .images }}
              {{ $image := $.Resources.Get .src }}
              {{ $imageDef := . }}

              {{ $alt := "" }}
              {{ if .alt }}
                {{ $alt = .alt }}
              {{ else if .useCloseupAlt }}
                {{ $alt = printf "A closeup detail of '%s'" $.Title }}
              {{ else }}
                {{ $alt = printf "An alternate rendering of '%s'" $.Title }}
              {{ end }}

              {{ with $image }}
                <div class="content-block__column content-block__column--{{ $columnWidth }} {{ if $alignVertically }}content-block__column--align-vertically{{ end }}">
                  <img
                    src="{{ ($image.Resize $regularSize).RelPermalink }}"
                    alt="{{ $alt }}"
                    srcset="{{ ($image.Resize $retinaSize).RelPermalink }} 2x"
                    loading="lazy"
                  />
                </div>
              {{ end }}
            {{ end }}
          </div>
        {{ else if eq .blockType "Video" }}
          {{ $video := $.Resources.Get .src }}
          {{ with $video }}
          <video
            src="{{ $video }}"
            controls
          />
          {{ end }}
        {{ else if eq .blockType "CaptionText" }}
          <div>caption</div>
        {{ end }}
      </div>
    </div>
  {{ end }}

  <div class="container">
    <div class="bottom-back-link">
      <p class="back-link"><a href="/"><span>←</span>back</a></p>
    </div>
  </div>
{{ end }}

{{ define "page-styles" }}
<style>
  .artwork-page__headline {
    margin-top: 5rem;
    margin-bottom: 6rem;
  }

  .artwork-page__headline h1 {
    margin-bottom: 0.2rem;
  }

  .artwork-page__meta {
    margin-left: 0.4rem;
    font-style: italic;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.5);
  }

  .artwork-page__headline span {
    color: rgba(255, 255, 255, 0.5);
  }

  .back-link {
    margin-bottom: 0;
  }

  .back-link a { 
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
  }

  .back-link span {
    display: inline-block;
    margin-right: 5px;
    transition: all 0.2s;
  }

  .back-link a:hover span {
    transform: translateX(-5px)
  }
 
  .artwork-page__main-image-wrapper {
    display: flex;
    justify-content: center;
  }

  .artwork-page__main-image {
    display: block;
    margin-bottom: 1rem;
  }

  .content-block img {
    display: block;
    max-height: 100%;
  }

  .content-block video {
    max-width: 100%;
  }

  .content-block .flex-row {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
  }
  
  .content-block__column {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-bottom: 1rem;
  }

  /* .content-block__column.content-block__column--50 { max-width: 50%; }
  .content-block__column.content-block__column--33 { max-width: 33%; }
  .content-block__column.content-block__column--25 { max-width: 25%; } */

  .content-block__column.content-block__column--50 {
    max-height: 50%;
  }

  .content-block__column.content-block__column--33 { max-width: 33%; }

  .content-block__column.content-block__column--25 { max-width: 25%; }

  .content-block__column.content-block__column--align-vertically { max-width: 100%; }
  .content-block__column.content-block__column--25.content-block__column--align-vertically { max-height: 300px; }


  @media (max-device-width: 480px) {
    .content-block__column.content-block__column--25 { max-width: 50%; }
  }

  .bottom-back-link {
    margin-top: 3rem;
  }

  @media (max-device-width: 480px) {
    .artwork-page__headline {
      margin-top: 2rem;
      margin-bottom: 3rem;
    }

    .artwork-page__meta {
      margin-bottom: 1rem;
      margin-left: 0.2rem;
    }
  }
</style>
{{ end }}