{{ define "main" }}
  <div class="container">
    <div class="artwork-page__headline">
    <h1>{{ .Title }}</h1>
    <p class="artwork-page__meta"><span>Year:</span> {{ .Params.Year }}</p>
    </div>
  </div>

  <div class="container">
    <img class="artwork-page__image" src="{{ .Resources.Get .Params.MainImage }}">
  </div>

  {{.Content}}
{{ end }}

{{ define "page-styles" }}
<style>
  .artwork-page__headline {
    margin-top: 3rem;
    margin-bottom: 4rem;
  }

  .artwork-page__headline h1 {
    margin-bottom: 2rem;
  }

  .artwork-page__headline span {
    color: rgba(255, 255, 255, 0.5);
  }

  .artwork-page__image {
    max-width: 100%;
  }
</style>
{{ end }}