:root {
  --body-background-color: #282923;
  --body-text-color: #fff;
  --body-font-family: "Space Mono", monospace;
}

body {
  background-color: var(--body-background-color);
  color: var(--body-text-color);
  font-family: var(--body-font-family);
  font-weight: 400;
}

/* Main */
main {
  flex-grow: 1;
}

/* Header */
.header__logo {
  padding: 1rem;
}

.header nav {
  margin-left: auto;
  padding: 0 0.8rem 0 0;
}

.header ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.header li {
  display: inline-block;
  padding: 1rem 0.2rem;
}

.header a {
  color: var(--body-text-color);
  text-decoration: none;
  padding: 1rem 0.2rem;
}

.header a.active {
  text-decoration: underline;
}

/* footer */
.site-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.footer {
  margin-top: auto;
  font-size: 14px;
  padding: 3rem 0;
}

/* grid */
.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
  margin: 0 auto;
}

/* artwork-tiles */
.artwork-tile {
  width: calc(100% / 3);
}

.artwork-tile__inner {
  padding: 1rem;
}

.artwork-tile__link {
  color: var(--body-text-color);
  text-decoration: none;
}

.artwork-tile__image {
  max-width: 100%;
}

.artwork-tile__title {
  margin: 0;
}

/* artwork page */
.artwork-page__image {
  max-width: 100%;
}
