{{ define "main" }}
<div class="about-page">
  <div class="container">
    <div class="flex-row">
      <div class="about-page__column">
        <div class="about-page__column-inner">
          <h1>About</h1>
          <p>
            Hello. I'm Christopher Ferris, an artist & illustrator from Seattle, WA. My work is largely about exploring atmosphere, shape, environments, and light.
            If you want to contact me about a project you can <a href class="email-link">email me</a>, or message me on <a href="">bluesky</a> or <a href="">instagram</a>
          </p>
        </div>
      </div>

      <div class="about-page__column">
        <div class="about-page__column-inner">
          {{ $aboutImage := .Resources.Get "images/306.png" }}
          <img class="about-page__image fade-in-on-load is-hidden" src="{{ ($aboutImage.Resize "600x").RelPermalink }}" />
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}

{{ define "page-scripts" }}
<script>
  (function() {
    const email = 'sweaterparrot_gmail-com'.replace('_', '@').replace('-', '.')
    document.querySelectorAll('.email-link').forEach((link) => {
      link.setAttribute('href', 'mailto:' + email);
    });
  })()
</script>
{{ end }}

{{ define "page-styles" }}
<style>
  main {
    display: flex;
  }

  .about-page {
    display: flex;
    flex-grow: 1;
    align-items: center;
  }

  .about-page__column {
    width: 50%;
    display: flex;
    align-items: center;
  }

  .about-page__column-inner {
    padding: 1rem;
  }

  @media (max-device-width: 480px) {
    .about-page .flex-row {
      flex-direction: column-reverse;
    }

    .about-page__column {
      width: 100%;
    }  

    .about-page__column-inner {
      padding-left: 0;
      padding-right: 0;
    }
  }
</style>
{{ end }}
