{{ define "extra-head" }}
  <meta property="og:Title" content="{{ .Title }} by Christopher Ferris" />
  <meta property="og:description" content="Christopher Ferris is an artist & illustrator from the PNW. Born in the UK and living in the United States since his teenage years, his work explores nostalgia, atmosphere, environments, and creating a strong sense of place." />
  <meta property="og:type" content="website" />
  {{ $mainImage := $.Resources.Get "images/306.png" }}
  <meta property="og:image" content="{{ ($mainImage.Resize "x1200 webp").Permalink }}"/>
{{ end }}

{{ define "main" }}

<link href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk&display=block" rel="stylesheet">

<div class="about-page">
  <div class="container">
    <div class="flex-row">
      <div class="about-page__column">
        <div class="about-page__column-inner">
          <h1>About</h1>
        
          <p>
            Christopher Ferris is an artist & illustrator from the PNW. Born in the UK and living in the United States since his teenage years, his work explores nostalgia, atmosphere, environments, and creating a strong sense of place.
          </p>

          <p>
            <ul class="social-links">
              <li>
                <a href class="email-link">email</a>
              </li>
              <li>
                <a href="https://bsky.app/profile/sweaterparrot.bsky.social" target="_blank">bluesky</a>
              </li>
              <li>
                <a href="https://www.instagram.com/sweaterparrot/" target="_blank">instagram</a>
              </li>
            </ul>
          </p>
        </div>
      </div>

      <div class="about-page__column">
        <div class="about-page__column-inner">
          {{ $aboutImage := .Resources.Get "images/306.png" }}
          <img class="about-page__image fade-in-on-load is-hidden" src="{{ ($aboutImage.Resize "600x").RelPermalink }}" />
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}

{{ define "page-scripts" }}
<script>
  (function() {
    const email = 'sweaterparrot_gmail-com'.replace('_', '@').replace('-', '.')
    document.querySelectorAll('.email-link').forEach((link) => {
      link.setAttribute('href', 'mailto:' + email);
    });
  })();
</script>
{{ end }}

{{ define "page-styles" }}
<style>
  main {
    display: flex;
  }

  .about-page {
    display: flex;
    flex-grow: 1;
    align-items: center;
  }

  .about-page__column {
    width: 50%;
    display: flex;
    align-items: center;
  }

  .about-page__column-inner {
    padding: 1rem;
  }
  
  .social-links {
    margin-top: 3rem;
    list-style-type: none;
    font-size: 13px;
    font-family: var(--label-font-family);
  }

  @media (max-device-width: 480px) {
   .social-links {
      margin-top: 1.5rem;
    } 
  }

  .social-links li {
    display: inline-block;
  }

  .social-links li:after {
    position: relative;
    bottom: 2px;
    content: "/";
    margin: 0 0.1rem;
    /* color: var(--body-text-color-secondary); */
    font-size: 0.8em;
  }

  .social-links li:last-child:after {
    content: "";
    margin: 0;
  }

  .social-links a {
    text-decoration: none;
    transition: color 0.2s;
    color: var(--body-text-color-secondary);
  }
  
  .social-links a:hover {
    color: var(--body-text-color);
  }

  @media (max-device-width: 480px) {
    .about-page .flex-row {
      flex-direction: column-reverse;
    }

    .about-page__column {
      width: 100%;
    }  

    .about-page__column-inner {
      padding: 0 0 2rem;
    }

    .about-page__column:first-child .about-page__column-inner {
      padding-bottom: 0;
    }
  }
</style>
{{ end }}
