{{ define "main" }}
  {{ .Content }}

  {{ $projects := where site.RegularPages "Section" "projects" }}
  <h1>projects</h1>

  {{ range $projects }}
    <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
    {{ .Summary }}
  {{ end }}

  {{ $artworks := where site.RegularPages "Section" "art" }}

  <h1>artworks</h1>
  <div class="artwork-list">
    {{ range $artworks }}
      {{ $mainImageUrl := printf "%s/%s" .Permalink .Params.MainImage  }}
      {{- $mainImage := .Resources.Get .Params.MainImage -}}

      <div class="artwork">
        <a href="{{ .RelPermalink }}">
          <img
            class="artwork__image"
            src="{{ ($mainImage.Resize "300x").RelPermalink }}"
          />
          <h3 class="artwork__title">{{ .LinkTitle }}</h3>
        </a>
      </div>
    {{ end }}
  </div>
{{ end }}
